CompileFlags:
  Add:
    - -std=c17
    - -xc
    - -Wall
    - -Wextra
    - -Werror
    - -pedantic
    - -Wno-unused-function

---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -xc-header

---
If:
  PathMatch:
    - javascript_regex(_u|_v)?/src/.*
    - python_re(_verbose)?/src/.*
    - posix_(bre|ere)/src/.*
CompileFlags:
  Add:
    - -I.

---
If:
  PathMatch: common/javascript/scanner\.h
CompileFlags:
  Add:
    - -DJAVASCRIPT_REGEX_MODE=0
    - -I../../javascript_regex/src

---
If:
  PathMatch: common/python/scanner\.h
CompileFlags:
  Add:
    - -DPYTHON_RE_LANGUAGE=python_re
    - -I../../python_re/src

---
If:
  PathMatch: common/posix/scanner\.h
CompileFlags:
  Add:
    - -DPOSIX_REGEX_MODE=0
    - -I../../posix_bre/src

---
If:
  PathMatch: test/scanner\.test\.c
CompileFlags:
  Add:
    - -DREGEX_SCANNER_SOURCE="../python_re/src/scanner.c"
    - -I../python_re/src
